@charset "utf-8";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$primary: #00979d;
$blue: #00979d;


.main {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


.lcd-canvas {
    border: 2px solid #225a94;
    image-rendering: pixelated;
}


.lcd-canvas-scaled {
    border: 7px solid #225a94;
    margin: 1px;
    image-rendering: pixelated;
}

.padLeft {
    padding-left: 10px;
}

@import "../node_modules/bulma/bulma";

@import "../node_modules/font-awesome/scss/font-awesome";
@import "../node_modules/toastr/toastr";