@charset "utf-8";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$primary: #00979d;
$blue: #00979d;

.main {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
}

.lcd-canvas {
    border:8px solid #225a94;
    image-rendering: crisp-edges;
}

@import "../node_modules/bulma/bulma";

@import "../node_modules/font-awesome/scss/font-awesome";
@import "../node_modules/toastr/toastr";